.container {
  position: relative;
  height: 100vh;
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  display: flex;
  overflow: hidden;
  background-color: #000;
  background-size: cover;
  background-position: top;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0;
  /* left: 17em; */
  right: -16em;
  /* height: 100vh; */
}
.board {
  position: relative;
  width: 17.375em;
  left: 4em;
  bottom: -2em;
}
.girl {
  width: 31em;
  margin-right: -10em;
}
.cowBoyWrapper {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 65em;
  width: 46.234em;
  z-index: 2;
}
.wheelWrapper {
  position: relative;
  width: 71em;
  left: 31em;
}

.wheel {
  position: absolute;
  top: 0;
  right: 4em;
  width: 67em;
  z-index: 1;
}

.btn {
  position: absolute;
  width: 6em;
  top: 27.3em;
  right: 33.5em;
  z-index: 2;
}
.wheelVar {
  position: absolute;
  width: 64em;
  top: 0.8em;
  right: 5.4em;
  z-index: 0;
}
@media (max-width: 1024px) and (orientation: portrait) {
  .container {
    background: url(../images/bgMob.png) top center / cover no-repeat;
  }
}
