body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  height: 100%;
  font-size: 0.833vw;
  overflow: hidden;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
img,
video {
  max-width: 100%;
  height: auto;
}
/* @media (orientation: landscape) and (min-aspect-ratio: 1920 / 853) {
  html {
    font-size: 0.65vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 15 / 7) {
  html {
    font-size: 0.67vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 640 / 311) {
  html {
    font-size: 0.7vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 80 / 41) {
  html {
    font-size: 0.73vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 1920 / 1007) {
  html {
    font-size: 0.76vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 384 / 209) {
  html {
    font-size: 0.8vw;
  }
} */
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 71) {
  html {
    font-size: 2.22vw;
  }
}

@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 16 / 35) {
  html {
    font-size: 2.16vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 8 / 17) {
  html {
    font-size: 2.14vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 67) {
  html {
    font-size: 2.1vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 65) {
  html {
    font-size: 2.04vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 63) {
  html {
    font-size: 1.98vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 16 / 31) {
  html {
    font-size: 1.94vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 61) {
  html {
    font-size: 1.91vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 59) {
  html {
    font-size: 1.85vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 16 / 29) {
  html {
    font-size: 1.82vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 4 / 7) {
  html {
    font-size: 1.76vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 55) {
  html {
    font-size: 1.725vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 53) {
  html {
    font-size: 1.66vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 8 / 13) {
  html {
    font-size: 1.63vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 64 / 101) {
  html {
    font-size: 1.58vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 49) {
  html {
    font-size: 1.53vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 47) {
  html {
    font-size: 1.48vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 64 / 91) {
  html {
    font-size: 1.42vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 8 / 11) {
  html {
    font-size: 1.38vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 64 / 85) {
  html {
    font-size: 1.33vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 41) {
  html {
    font-size: 1.29vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 4 / 5) {
  html {
    font-size: 1.25vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 39) {
  html {
    font-size: 1.22vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 16 / 19) {
  html {
    font-size: 1.19vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 37) {
  html {
    font-size: 1.15vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 8 / 9) {
  html {
    font-size: 1.12vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 32 / 35) {
  html {
    font-size: 1.09vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 16 / 17) {
  html {
    font-size: 1.05vw;
  }
}
@media (max-width: 1024px) and (orientation: portrait) and (max-aspect-ratio: 1 / 1) {
  html {
    font-size: 1vw;
  }
}
